{% trans_default_domain('navigation') %}

{% set placement = 'start' %}

{% if NavigationPlacement == 'right' %}
	{% set placement = 'end' %}
{% elseif NavigationPlacement == 'top' or NavigationPlacement =='right' %}
	{% set placement = NavigationPlacement %}
{% endif %}


<div class="offcanvas offcanvas-{{ placement }} {{ NavigationTextColor }} bg-{{ NavigationColor }}" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
	<div class="offcanvas-header">
		<h5 class="card-title text-shadow" id="offcanvasExampleLabel">{{ NavigationBrand|default("") }}</h5>
		<button type="button" class="btn {{ NavigationTextColor }} float-end" data-bs-dismiss="offcanvas" aria-label="Close">
			<i class="fa fa-times"></i>
		</button>
	</div>
	<div class="offcanvas-body {{ NavigationTextColor }}">
		<div class="card border-0">
			{# <img class="card-img-top" src="{{ asset(NavigationImage|default('bundles/navigation/images/bg_1.jpg')) }}"/> #}
			{# <div class="card-img-overlay"></div> #}
				{% for item in NavigationItems %}
					{% if item.roles|length > 0 %}
					{% set granted=false %}
						{% for role in item.roles %}
					{% set granted = (granted or is_granted(role)) %}
					{% endfor %}
				{% else %}
					{% set granted=true %}
				{% endif %}
				{% if  granted %}
					{% if item.lib=='divider' %}
						<li class="dropdown-divider"></li>
					{% else %}
						{% if app.request.attributes.get('_route') == item.route %}
							{% set activeClass='active' %}
						{% else %}
							{% set activeClass='' %}
						{% endif %}
						<a id="navbarDropdown{{ loop.index }}" href="{{ path(item.route) }}" class="list-group-item list-group-item-{{ NavigationColor }} {{ NavigationTextColor }} {{ activeClass }}" href="#">
							{% if item.icon!="" %}
								<i class="{{ item.icon }}"></i>
							{% endif %}
							{% if item.lib!="" %}
								{{ item.lib|trans }}
							{% endif %}
						</a>
					{% endif %}
				{% endif %}
			{% endfor %}

		</div>
	</div>
</div>

{% set sidebarButton %}
<li class="nav-item" title="{{ 'Open Sidebar'|trans }}">
	<a class="nav-link" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
		<i class="{{ NavigationIcon }}"></i>
	</a>
</li>
{% endset %}

<script>
	$(document).ready(function () {
var sidebarNavLink = '{{ sidebarButton|spaceless }}';
$('#navtools-main').prepend(sidebarNavLink);
});
</script>
